<div class="container">
  <p style="background-color: black; color: white; font-size: 20px;">Books</p>
</div>

<div class="container">
  <table class="table table-bordered" *ngIf="books && books.length">
    <thead>
      <tr>
        <th>Book Image</th>
        <th>Book Title</th>
        <th>Book Price</th>
        <th>Book Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>
          <a routerLink="/book/{{ book.bookId }}">
            <img src="{{ book.imageUrl }}" style="width: 70px; height: 90px;" />
          </a>
        </td>
        <td>{{ book.title }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.rating }}</td>
        <td>
          <button class="btn btn-block btn-primary">
            Add To Cart
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
